.navigation {
  width: 100%;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    @include common.breakpoint-down(xsmedium) {
      justify-content: space-around;
    }

    @include common.breakpoint-down(small) {
      flex-direction: column;
    }
  }
}
