@use "sass:map";
@use "./breakpoints";

@mixin breakpoint-down($key) {
  $value: map.get($breakpoints-down, $key);
  @if $value == null {
    @error "Unknown breakpoint: #{key}";
  }

  @media (max-width: $value) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin iconWrap {
  position: relative;
  place-items: center;
  isolation: isolate;

  &::before,
  &::after {
    z-index: 0;
  }
  svg {
    z-index: 1;
  }
}
